<ion-view view-title="Chat">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="msg in msgs" type="item-text-wrap" href="#/tab/chat/{{msg.senderId}}">
        <div class="row-fluid">
            <div class="span12">
                <div class="container" style="float:left">
        <img ng-src="{{msg.image}}" class="mobile inline">
                </div>
                <div style="float:right">
          <small class="inline">{{msg.dateSent | date:'MMM dd'}}</small>
        </div>
        <div class="container inline middle-col">
            <span class="name">{{msg.header}}</span>
            <span class="subtext">{{msg.description}}</span>
        </div>

        <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

