<ion-view view-title="Home">
<ion-content class="padding">
<div class="vertical-center app">
    <div class ="container">
            <h2>PuppyPals</h2>
            <h3>Message Center</h3>
        </div>
      <div class="container">
        <div class="login">
                <input type="text" placeholder="email" name="user"><br>
				<input type="password" placeholder="password" name="password">
                    <a href="http://puppypals.azurewebsites.net/UserAccount/ForgotPassword" target="_blank">Forgot Password?</a>
				<input type="button" id="login" value="Login">
                <input type="button" class="btn_signup" value="Sign Up" onclick="window.location.href='http://puppypals.azurewebsites.net/UserAccount/ForgotPassword'">
        </div>
      </div>
    </div>
</ion-content>
</ion-view>
