<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title></title>
</head>
<body>

    <div data-ng-app="APIModule" ng-controller="loginCon">
<p><input ng-model="email" value="Email"/></p>
<p><input ng-model="pass" value="Password"/></p>
<p><button type="button" ng-click="loginc(email,pass)">Click to Submit</button></p>
        </div>
    </div>

<script src="scripts/angular.min.js"></script>
<script src="scripts/angular-route.min.js"></script>
<script src="scripts/login.js"></script>
<script src="scripts/loginController.js"></script>
</body>
</html>
